apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "deploy-template.fullname" . }}
  labels:
{{ include "deploy-template.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "deploy-template.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "deploy-template.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      containers:
        - name: {{ include "deploy-template.name" . }}
          image: "image-registry.openshift-image-registry.svc:5000/{{ .Values.image }}"
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: http
              successThreshold: 1
              failureThreshold: 3
              initialDelaySeconds: 10
              periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /health
              port: http
              successThreshold: 1
              failureThreshold: 3
              initialDelaySeconds: 10
              periodSeconds: 5
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- if .Values.secret }}
          env:
            {{- range $key, $value := .Values.secret }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                  name: {{ regexReplaceAll "[^0-9a-zA-Z-.]" $key "-" | lower | trunc 63 | trimAll "-" }}
                  key: {{ $key }}
            {{- end }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
