name: Validate

on: [push, pull_request]

jobs:
  conftest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Conftest
        uses: redhat-cop/github-actions/confbatstest@v4.5
        with:
          tests: _test/conftest.sh
